.box{
  background-image: url(../images/landing.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  margin: 10px;

}
h2, .h2 {
    padding: 70px;
    font-size: 30px;
    width: 100%;
    margin: 0;
    border: 0;
    }
.cox{
  background-image: url(../images/breakfast.jpg);
  text-align: center;
  color: white;
  margin: 0;
}
.cox1{
  background-image: url(../images/lunch.jpg);
  text-align: center;
  color: white;
  margin: 0;
}
.cox2{
  background-image: url(../images/dinner.jpg);
  text-align: center;
  color: white;
  margin: 0;
}
.box2{
  background-image: url(../images/foodsBg.jpg);
}
.box3{
  background-image: url(../images/subscribe.jpg);
}
.box4{
  background-color: #F15A29;
}
.img-reponsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center{
  text-align: center;
  color: white;
  font-family: fantasy;
}





































.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
